tools/xbeditor/src/main/resources/META-INF/XBCatalogWS-localhost.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.catalog.xbup.sf.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservice.catalog.xbup.sf.net/" name="XBCatalogWSService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.catalog.xbup.sf.net/" schemaLocation="http://localhost:8080/XBCatalogWSService/XBCatalogWS/__container$publishing$subctx/META-INF/wsdl/XBCatalogWSService_schema1.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema>
  </types>
  <message name="getLanguageId">
    <part name="parameters" element="tns:getLanguageId"/>
  </message>
  <message name="getLanguageIdResponse">
    <part name="parameters" element="tns:getLanguageIdResponse"/>
  </message>
  <message name="getFormatCatalogNodeInfo">
    <part name="parameters" element="tns:getFormatCatalogNodeInfo"/>
  </message>
  <message name="getFormatCatalogNodeInfoResponse">
    <part name="parameters" element="tns:getFormatCatalogNodeInfoResponse"/>
  </message>
  <message name="getGroupCatalogNodeInfo">
    <part name="parameters" element="tns:getGroupCatalogNodeInfo"/>
  </message>
  <message name="getGroupCatalogNodeInfoResponse">
    <part name="parameters" element="tns:getGroupCatalogNodeInfoResponse"/>
  </message>
  <message name="getBlockCatalogNodeInfo">
    <part name="parameters" element="tns:getBlockCatalogNodeInfo"/>
  </message>
  <message name="getBlockCatalogNodeInfoResponse">
    <part name="parameters" element="tns:getBlockCatalogNodeInfoResponse"/>
  </message>
  <message name="getTypeCatalogNodeInfo">
    <part name="parameters" element="tns:getTypeCatalogNodeInfo"/>
  </message>
  <message name="getTypeCatalogNodeInfoResponse">
    <part name="parameters" element="tns:getTypeCatalogNodeInfoResponse"/>
  </message>
  <message name="getFormatCatalogSpecInfo">
    <part name="parameters" element="tns:getFormatCatalogSpecInfo"/>
  </message>
  <message name="getFormatCatalogSpecInfoResponse">
    <part name="parameters" element="tns:getFormatCatalogSpecInfoResponse"/>
  </message>
  <message name="getGroupCatalogSpecInfo">
    <part name="parameters" element="tns:getGroupCatalogSpecInfo"/>
  </message>
  <message name="getGroupCatalogSpecInfoResponse">
    <part name="parameters" element="tns:getGroupCatalogSpecInfoResponse"/>
  </message>
  <message name="getBlockCatalogSpecInfo">
    <part name="parameters" element="tns:getBlockCatalogSpecInfo"/>
  </message>
  <message name="getBlockCatalogSpecInfoResponse">
    <part name="parameters" element="tns:getBlockCatalogSpecInfoResponse"/>
  </message>
  <message name="getTypeCatalogSpecInfo">
    <part name="parameters" element="tns:getTypeCatalogSpecInfo"/>
  </message>
  <message name="getTypeCatalogSpecInfoResponse">
    <part name="parameters" element="tns:getTypeCatalogSpecInfoResponse"/>
  </message>
  <message name="getFormatCatalogSpecMaxIndex">
    <part name="parameters" element="tns:getFormatCatalogSpecMaxIndex"/>
  </message>
  <message name="getFormatCatalogSpecMaxIndexResponse">
    <part name="parameters" element="tns:getFormatCatalogSpecMaxIndexResponse"/>
  </message>
  <message name="getGroupCatalogSpecMaxIndex">
    <part name="parameters" element="tns:getGroupCatalogSpecMaxIndex"/>
  </message>
  <message name="getGroupCatalogSpecMaxIndexResponse">
    <part name="parameters" element="tns:getGroupCatalogSpecMaxIndexResponse"/>
  </message>
  <message name="getBlockCatalogSpecMaxIndex">
    <part name="parameters" element="tns:getBlockCatalogSpecMaxIndex"/>
  </message>
  <message name="getBlockCatalogSpecMaxIndexResponse">
    <part name="parameters" element="tns:getBlockCatalogSpecMaxIndexResponse"/>
  </message>
  <message name="getAttribCatalogSpecMaxIndex">
    <part name="parameters" element="tns:getAttribCatalogSpecMaxIndex"/>
  </message>
  <message name="getAttribCatalogSpecMaxIndexResponse">
    <part name="parameters" element="tns:getAttribCatalogSpecMaxIndexResponse"/>
  </message>
  <message name="getFormatCatalogSubMaxIndex">
    <part name="parameters" element="tns:getFormatCatalogSubMaxIndex"/>
  </message>
  <message name="getFormatCatalogSubMaxIndexResponse">
    <part name="parameters" element="tns:getFormatCatalogSubMaxIndexResponse"/>
  </message>
  <message name="getGroupCatalogSubMaxIndex">
    <part name="parameters" element="tns:getGroupCatalogSubMaxIndex"/>
  </message>
  <message name="getGroupCatalogSubMaxIndexResponse">
    <part name="parameters" element="tns:getGroupCatalogSubMaxIndexResponse"/>
  </message>
  <message name="getBlockCatalogSubMaxIndex">
    <part name="parameters" element="tns:getBlockCatalogSubMaxIndex"/>
  </message>
  <message name="getBlockCatalogSubMaxIndexResponse">
    <part name="parameters" element="tns:getBlockCatalogSubMaxIndexResponse"/>
  </message>
  <message name="getAttribCatalogSubMaxIndex">
    <part name="parameters" element="tns:getAttribCatalogSubMaxIndex"/>
  </message>
  <message name="getAttribCatalogSubMaxIndexResponse">
    <part name="parameters" element="tns:getAttribCatalogSubMaxIndexResponse"/>
  </message>
  <message name="getFormatCatalogSpecMaxBindId">
    <part name="parameters" element="tns:getFormatCatalogSpecMaxBindId"/>
  </message>
  <message name="getFormatCatalogSpecMaxBindIdResponse">
    <part name="parameters" element="tns:getFormatCatalogSpecMaxBindIdResponse"/>
  </message>
  <message name="getGroupCatalogSpecMaxBindId">
    <part name="parameters" element="tns:getGroupCatalogSpecMaxBindId"/>
  </message>
  <message name="getGroupCatalogSpecMaxBindIdResponse">
    <part name="parameters" element="tns:getGroupCatalogSpecMaxBindIdResponse"/>
  </message>
  <message name="getBlockCatalogSpecMaxBindId">
    <part name="parameters" element="tns:getBlockCatalogSpecMaxBindId"/>
  </message>
  <message name="getBlockCatalogSpecMaxBindIdResponse">
    <part name="parameters" element="tns:getBlockCatalogSpecMaxBindIdResponse"/>
  </message>
  <message name="getFormatCatalogBindTargetPath">
    <part name="parameters" element="tns:getFormatCatalogBindTargetPath"/>
  </message>
  <message name="getFormatCatalogBindTargetPathResponse">
    <part name="parameters" element="tns:getFormatCatalogBindTargetPathResponse"/>
  </message>
  <message name="getGroupCatalogBindTargetPath">
    <part name="parameters" element="tns:getGroupCatalogBindTargetPath"/>
  </message>
  <message name="getGroupCatalogBindTargetPathResponse">
    <part name="parameters" element="tns:getGroupCatalogBindTargetPathResponse"/>
  </message>
  <message name="getBlockCatalogBindTargetPath">
    <part name="parameters" element="tns:getBlockCatalogBindTargetPath"/>
  </message>
  <message name="getBlockCatalogBindTargetPathResponse">
    <part name="parameters" element="tns:getBlockCatalogBindTargetPathResponse"/>
  </message>
  <portType name="XBCatalogWS">
    <operation name="getLanguageId">
      <input message="tns:getLanguageId"/>
      <output message="tns:getLanguageIdResponse"/>
    </operation>
    <operation name="getFormatCatalogNodeInfo">
      <input message="tns:getFormatCatalogNodeInfo"/>
      <output message="tns:getFormatCatalogNodeInfoResponse"/>
    </operation>
    <operation name="getGroupCatalogNodeInfo">
      <input message="tns:getGroupCatalogNodeInfo"/>
      <output message="tns:getGroupCatalogNodeInfoResponse"/>
    </operation>
    <operation name="getBlockCatalogNodeInfo">
      <input message="tns:getBlockCatalogNodeInfo"/>
      <output message="tns:getBlockCatalogNodeInfoResponse"/>
    </operation>
    <operation name="getTypeCatalogNodeInfo">
      <input message="tns:getTypeCatalogNodeInfo"/>
      <output message="tns:getTypeCatalogNodeInfoResponse"/>
    </operation>
    <operation name="getFormatCatalogSpecInfo">
      <input message="tns:getFormatCatalogSpecInfo"/>
      <output message="tns:getFormatCatalogSpecInfoResponse"/>
    </operation>
    <operation name="getGroupCatalogSpecInfo">
      <input message="tns:getGroupCatalogSpecInfo"/>
      <output message="tns:getGroupCatalogSpecInfoResponse"/>
    </operation>
    <operation name="getBlockCatalogSpecInfo">
      <input message="tns:getBlockCatalogSpecInfo"/>
      <output message="tns:getBlockCatalogSpecInfoResponse"/>
    </operation>
    <operation name="getTypeCatalogSpecInfo">
      <input message="tns:getTypeCatalogSpecInfo"/>
      <output message="tns:getTypeCatalogSpecInfoResponse"/>
    </operation>
    <operation name="getFormatCatalogSpecMaxIndex">
      <input message="tns:getFormatCatalogSpecMaxIndex"/>
      <output message="tns:getFormatCatalogSpecMaxIndexResponse"/>
    </operation>
    <operation name="getGroupCatalogSpecMaxIndex">
      <input message="tns:getGroupCatalogSpecMaxIndex"/>
      <output message="tns:getGroupCatalogSpecMaxIndexResponse"/>
    </operation>
    <operation name="getBlockCatalogSpecMaxIndex">
      <input message="tns:getBlockCatalogSpecMaxIndex"/>
      <output message="tns:getBlockCatalogSpecMaxIndexResponse"/>
    </operation>
    <operation name="getAttribCatalogSpecMaxIndex">
      <input message="tns:getAttribCatalogSpecMaxIndex"/>
      <output message="tns:getAttribCatalogSpecMaxIndexResponse"/>
    </operation>
    <operation name="getFormatCatalogSubMaxIndex">
      <input message="tns:getFormatCatalogSubMaxIndex"/>
      <output message="tns:getFormatCatalogSubMaxIndexResponse"/>
    </operation>
    <operation name="getGroupCatalogSubMaxIndex">
      <input message="tns:getGroupCatalogSubMaxIndex"/>
      <output message="tns:getGroupCatalogSubMaxIndexResponse"/>
    </operation>
    <operation name="getBlockCatalogSubMaxIndex">
      <input message="tns:getBlockCatalogSubMaxIndex"/>
      <output message="tns:getBlockCatalogSubMaxIndexResponse"/>
    </operation>
    <operation name="getAttribCatalogSubMaxIndex">
      <input message="tns:getAttribCatalogSubMaxIndex"/>
      <output message="tns:getAttribCatalogSubMaxIndexResponse"/>
    </operation>
    <operation name="getFormatCatalogSpecMaxBindId">
      <input message="tns:getFormatCatalogSpecMaxBindId"/>
      <output message="tns:getFormatCatalogSpecMaxBindIdResponse"/>
    </operation>
    <operation name="getGroupCatalogSpecMaxBindId">
      <input message="tns:getGroupCatalogSpecMaxBindId"/>
      <output message="tns:getGroupCatalogSpecMaxBindIdResponse"/>
    </operation>
    <operation name="getBlockCatalogSpecMaxBindId">
      <input message="tns:getBlockCatalogSpecMaxBindId"/>
      <output message="tns:getBlockCatalogSpecMaxBindIdResponse"/>
    </operation>
    <operation name="getFormatCatalogBindTargetPath">
      <input message="tns:getFormatCatalogBindTargetPath"/>
      <output message="tns:getFormatCatalogBindTargetPathResponse"/>
    </operation>
    <operation name="getGroupCatalogBindTargetPath">
      <input message="tns:getGroupCatalogBindTargetPath"/>
      <output message="tns:getGroupCatalogBindTargetPathResponse"/>
    </operation>
    <operation name="getBlockCatalogBindTargetPath">
      <input message="tns:getBlockCatalogBindTargetPath"/>
      <output message="tns:getBlockCatalogBindTargetPathResponse"/>
    </operation>
  </portType>
  <binding name="XBCatalogWSPortBinding" type="tns:XBCatalogWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getLanguageId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFormatCatalogNodeInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGroupCatalogNodeInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBlockCatalogNodeInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTypeCatalogNodeInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFormatCatalogSpecInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGroupCatalogSpecInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBlockCatalogSpecInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTypeCatalogSpecInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFormatCatalogSpecMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGroupCatalogSpecMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBlockCatalogSpecMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAttribCatalogSpecMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFormatCatalogSubMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGroupCatalogSubMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBlockCatalogSubMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAttribCatalogSubMaxIndex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFormatCatalogSpecMaxBindId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGroupCatalogSpecMaxBindId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBlockCatalogSpecMaxBindId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFormatCatalogBindTargetPath">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGroupCatalogBindTargetPath">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBlockCatalogBindTargetPath">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="XBCatalogWSService">
    <port name="XBCatalogWSPort" binding="tns:XBCatalogWSPortBinding">
      <soap:address location="http://localhost:8080/XBCatalogWSService/XBCatalogWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </port>
  </service>
</definitions>
